flow.txt
[{"id":"60cddf67.a897f","type":"tab","label":"Hackathon"},{"id":"428f96f8.5de508","type":"http in","z":"60cddf67.a897f","name":"","url":"/alexa","method":"post","swaggerDoc":"","x":82.205810546875,"y":50.880043029785156,"wires":[["46197c0c.f5a4e4"]]},{"id":"32724bb.57745b4","type":"debug","z":"60cddf67.a897f","name":"","active":true,"console":"false","complete":"payload","x":581.2058258056641,"y":81.05172729492188,"wires":[]},{"id":"3433e359.04631c","type":"template","z":"60cddf67.a897f","name":"ResponseTemplate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"card\": {\n          \"type\": \"string\",\n          \"title\": \"inventory\",\n          \"content\": \"string\",\n          \"text\": \"{{payload}}\"\n          },\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"shouldEndSession\": {{NotContinue}}\n  }\n}","x":771.2083930969238,"y":376.7322998046875,"wires":[["44eeda6f.116c54"]]},{"id":"46197c0c.f5a4e4","type":"function","z":"60cddf67.a897f","name":"parse alexa data","func":"console.log(msg.payload);\n\nvar reqtype = \"\";\n\nif (msg.payload.request.intent !== undefined) {\n    reqtype = msg.payload.request.intent.name;\n} else {\n    reqtype = msg.payload.request.type;\n}\n\nnode.status({fill:\"green\",shape:\"ring\",text:reqtype});\nconsole.log(reqtype);\n\nmsg.reqtype = reqtype;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":127.2095947265625,"y":210.11741638183594,"wires":[["bc266639.4b0b98"]]},{"id":"44eeda6f.116c54","type":"json","z":"60cddf67.a897f","name":"","x":963.2108345031738,"y":374.2095947265625,"wires":[["b7ac4b6e.f41528"]]},{"id":"b7ac4b6e.f41528","type":"http response","z":"60cddf67.a897f","name":"","x":952.2057685852051,"y":454.3522644042969,"wires":[]},{"id":"1a934c55.2377f4","type":"comment","z":"60cddf67.a897f","name":"Sample json from Alexa","info":"{\n  \"session\": {\n    \"sessionId\": \"SessionId.aaaaa09f-bac1-4179-9202-2a1afb837b75\",\n    \"application\": {\n      \"applicationId\": \"amzn1.ask.skill.e352c2c4-4452-48e2-99a4-f4cf5f2bd153\"\n    },\n    \"attributes\": {},\n    \"user\": {\n      \"userId\": \"amzn1.ask.account.AFSGHPEX7SNHQ5UMCO7WIA6SYTAQWMTGHCNHNJHZI2EGFEVE4VU5XNTXSXCRTS5JOVIJH7IIFBS7CDN3VZEB5GID3HCP3ZTINH3P7O6YGKD7WC2XGHMUC5URJTD6HILJC22LDKGB74JHLO73QWUCISXA6HSUVFRDRUQVUBLT6J5WXT5NQQ6AB5NHTR3YKW6H4NWBVUOCZ4I5BTQ\"\n    },\n    \"new\": true\n  },\n  \"request\": {\n    \"type\": \"IntentRequest\",\n    \"requestId\": \"EdwRequestId.ad6a6f34-89c0-4ce1-a133-90597807af5d\",\n    \"locale\": \"en-US\",\n    \"timestamp\": \"2016-10-23T04:49:50Z\",\n    \"intent\": {\n      \"name\": \"query\",\n      \"slots\": {\n        \"product_size\": {\n          \"name\": \"product_size\"\n        },\n        \"product_color\": {\n          \"name\": \"product_color\",\n          \"value\": \"red\"\n        },\n        \"product_name\": {\n          \"name\": \"product_name\",\n          \"value\": \"bikes\"\n        }\n      }\n    }\n  },\n  \"version\": \"1.0\"\n}\n\n","x":795.2108001708984,"y":82.02903747558594,"wires":[]},{"id":"864833c9.fe3a1","type":"MSSQL","z":"60cddf67.a897f","mssqlCN":"1f158b47.2e94e5","name":"","query":"","outField":"payload","x":487.20960998535156,"y":250.074462890625,"wires":[["24b0cd1c.bfda92"]]},{"id":"24b0cd1c.bfda92","type":"function","z":"60cddf67.a897f","name":"Get data from sql","func":"\nvar qoh = msg.payload[0].QuantityOnHand;\nvar message = msg.payload[0].Message;\nvar NotContinue = msg.payload[0].NotContinue;\n\nmsg.NotContinue = NotContinue;\nmsg.payload = message;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":684.2071685791016,"y":256.0517272949219,"wires":[["3433e359.04631c"]]},{"id":"fd9265f7.a76b18","type":"comment","z":"60cddf67.a897f","name":"lanch","info":"{\n  \"session\": {\n    \"sessionId\": \"SessionId.eca18c51-4bb7-4ac5-8ee1-d6cd110b773b\",\n    \"application\": {\n      \"applicationId\": \"amzn1.ask.skill.e352c2c4-4452-48e2-99a4-f4cf5f2bd153\"\n    },\n    \"attributes\": {},\n    \"user\": {\n      \"userId\": \"amzn1.ask.account.AFSGHPEX7SNHQ5UMCO7WIA6SYTAQWMTGHCNHNJHZI2EGFEVE4VU5XNTXSXCRTS5JOVIJH7IIFBS7CDN3VZEB5GID3HCP3ZTINH3P7O6YGKD7WC2XGHMUC5URJTD6HILJC22LDKGB74JHLO73QWUCISXA6HSUVFRDRUQVUBLT6J5WXT5NQQ6AB5NHTR3YKW6H4NWBVUOCZ4I5BTQ\"\n    },\n    \"new\": true\n  },\n  \"request\": {\n    \"type\": \"LaunchRequest\",\n    \"requestId\": \"EdwRequestId.0bf2eb74-823c-4bea-9675-fecf0f3f72cd\",\n    \"locale\": \"en-US\",\n    \"timestamp\": \"2016-10-23T07:05:31Z\"\n  },\n  \"version\": \"1.0\"\n}","x":743.2095184326172,"y":128.5126190185547,"wires":[]},{"id":"bc266639.4b0b98","type":"switch","z":"60cddf67.a897f","name":"Intent Switch","property":"reqtype","propertyType":"msg","rules":[{"t":"eq","v":"query","vt":"str"},{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"AMAZON.HelpIntent","vt":"str"},{"t":"eq","v":"more","vt":"str"},{"t":"eq","v":"what","vt":"str"},{"t":"eq","v":"timeout","vt":"str"},{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":8,"x":132.2083282470703,"y":341.2537536621094,"wires":[["45719071.4cabd"],["d65c35fb.958398"],["a2a837e.bd8d1c8"],["3a96e049.e5fd8"],["8c4e7ed.64c428"],["25c80729.7d1c78"],["ddc1f6b9.5bb4f8"],["ddc1f6b9.5bb4f8"]]},{"id":"ddc1f6b9.5bb4f8","type":"function","z":"60cddf67.a897f","name":"set alexa say","func":"msg.payload = \"what can i do for you?\";\nmsg.NotContinue = false;\n//msg.payload = \"you suck!\";\nreturn msg;","outputs":1,"noerr":0,"x":285.2070770263672,"y":676.9797668457031,"wires":[["3433e359.04631c"]]},{"id":"45719071.4cabd","type":"function","z":"60cddf67.a897f","name":"query sting","func":"\nvar color = \"\";\nvar product = \"\";\n\n//var reqtype = msg.payload.request.intent.name;\n//var intent = msg.payload.request.intent.name;\n\nif (msg.payload.request.intent !== undefined){\n    if (msg.payload.request.intent.slots.product_color.value !== undefined){\n        color = msg.payload.request.intent.slots.product_color.value;\n    }\n}\n\nif (msg.payload.request.intent !== undefined){\n    if (msg.payload.request.intent.slots.product_name.value !== undefined){\n        product = msg.payload.request.intent.slots.product_name.value.replace(\"'\",\"\");\n        var sqlstr = \"EXEC Query '\" + product + \"','\" + color + \"'\";\n        node.status({fill:\"green\",shape:\"ring\",text:color + \" \" + product});\n        msg.payload = sqlstr;\n    }\n}\nmsg.NotContinue = false;\n\nreturn msg;","outputs":1,"noerr":0,"x":299.2057800292969,"y":267.92926025390625,"wires":[["864833c9.fe3a1"]]},{"id":"d65c35fb.958398","type":"function","z":"60cddf67.a897f","name":"add string","func":"var color = \"\";\nvar product = \"\";\nvar user = \"\";\nvar quantity = 0;\nvar quantity = \"\";\n\nif (msg.payload.request.intent !== undefined){\n    if (msg.payload.request.intent.slots.product_color.value !== undefined){\n        color = msg.payload.request.intent.slots.product_color.value;\n    }\n}\n\nif (msg.payload.request.intent !== undefined){\n    if (msg.payload.request.intent.slots.user_name.value !== undefined){\n        user = msg.payload.request.intent.slots.user_name.value;\n    }\n}\n\nif (msg.payload.request.intent !== undefined){\n    if (msg.payload.request.intent.slots.quantity_name.value !== undefined){\n        quantity = msg.payload.request.intent.slots.quantity_name.value;\n    }\n}\n\nif (msg.payload.request.intent !== undefined){\n    if (msg.payload.request.intent.slots.vendor_name.value !== undefined){\n        vendor = msg.payload.request.intent.slots.vendor_name.value;\n    }\n}\n\nif (msg.payload.request.intent !== undefined){\n    if (msg.payload.request.intent.slots.product_name.value !== undefined){\n        product = msg.payload.request.intent.slots.product_name.value.replace(\"'\",\"\");\n        var sqlstr = \"EXEC [dbo].[Add] '\" + user + \"','\" + product + \"', \" + quantity + \",'\" + color + \"', '','\" + vendor + \"'\";\n        msg.payload = sqlstr;\n    }\n}\n\nmsg.NotContinue = false;\nnode.status({fill:\"green\",shape:\"ring\",text:user + \" \" + quantity + \" \" + color + \" \" + product + \" \" + vendor});\n//node.status({fill:\"green\",shape:\"ring\",text:user});\n\nreturn msg;","outputs":1,"noerr":0,"x":306.2082977294922,"y":346.934326171875,"wires":[["36fc4d48.cd2142","32724bb.57745b4"]]},{"id":"36fc4d48.cd2142","type":"MSSQL","z":"60cddf67.a897f","mssqlCN":"1f158b47.2e94e5","name":"","query":"","outField":"payload","x":467.20579528808594,"y":338.1653747558594,"wires":[["b22fbf.2c3bf04"]]},{"id":"b22fbf.2c3bf04","type":"function","z":"60cddf67.a897f","name":"say msg","func":"var message = msg.payload[0].Message;\n\nmsg.payload = message;\n\nmsg.NotContinue = false;\n\nreturn msg;","outputs":1,"noerr":0,"x":607.6035061810853,"y":313.0517272949219,"wires":[["3433e359.04631c"]]},{"id":"a2a837e.bd8d1c8","type":"function","z":"60cddf67.a897f","name":"help","func":"msg.payload = \"to query a product says, \";\nmsg.payload = msg.payload + \"how many product color, product name do we have, \";\nmsg.payload = msg.payload + \"to add or update a product say, user name received quantity product color, product name, from vendor name\";\nmsg.NotContinue = true;\nnode.status({fill:\"green\",shape:\"ring\",text:\"help\"});\n\nreturn msg;","outputs":1,"noerr":0,"x":367.20957946777344,"y":417.052978515625,"wires":[["3433e359.04631c"]]},{"id":"3a96e049.e5fd8","type":"function","z":"60cddf67.a897f","name":"tell more","func":"msg.payload = \"This will allow small businesses to take control of their inventory. This will also give visually and mobility impaired workers equal access to the inventory which has never been possible before. why don't you try it?\";\nmsg.NotContinue = false;\nreturn msg;","outputs":1,"noerr":0,"x":355.7755584716797,"y":479.2159118652344,"wires":[["3433e359.04631c","32724bb.57745b4"]]},{"id":"8c4e7ed.64c428","type":"function","z":"60cddf67.a897f","name":"what","func":"msg.payload = \"I can receive and ship products from inventory. give it a try!\";\nmsg.NotContinue = false;\nreturn msg;\n","outputs":1,"noerr":0,"x":307.96022033691406,"y":530.5738220214844,"wires":[["3433e359.04631c"]]},{"id":"25c80729.7d1c78","type":"function","z":"60cddf67.a897f","name":"timeout","func":"msg.payload = \"jim, you are all out of time\";\nmsg.NotContinue = true;\nreturn msg;","outputs":1,"noerr":0,"x":314.9630584716797,"y":610.5738220214844,"wires":[["3433e359.04631c"]]},{"id":"1f158b47.2e94e5","type":"MSSQL-CN","z":"","name":"","server":"inventoryhackathon.database.windows.net","encyption":true,"database":"Inventory"}]